{% extends 'layout.html' %}
{% block content %}
    <div class="col-4">
        <form action="#" method="post">
            <div class="form-group">
                <label for="season">Sæson:</label>
                <input type="number" name="season" id="season" class="form-control" value="2026" required>

                <label for="name">Hold navn:</label>
                <input type="text" name="name" id="name" class="form-control" value="Wildcats" required>

                <label for="city">By:</label>
                <input type="text" name="city" id="city" class="form-control" value="Aarhus">

                <label for="league">Liga:</label>
                <select name="league" id="league" class="form-control">
                    <option selected value="Vest">Vest</option>
                    <option value="Central">Central</option>
                    <option value="Øst">Øst</option>
                </select>

                <label for="division">Division:</label>
                <input type="text" name="division" id="division" class="form-control" value="1 division">

                <br>
                <input type="submit" class="form-control" value="Opret hold">
            </div>            
        </form>
    </div>
{% endblock %}