{% extends 'layout.html' %}
{% block content %}
    <div class="col-4">
        <form action="#" method="post">
            <div class="form-group">
                <label for="id">Id:</label>
                <!-- added id to input type it for bootstrap 'label for' -->
                <input type="number" name="id" id="id" class="form-control" readonly value="{{team.id}}">

                <label for="season">Sæson:</label>
                <input type="text" name="season" id="season" class="form-control" value="{{team.season}}">

                <label for="city">By:</label>
                <input type="text" name="city" id="city" class="form-control" value="{{team.city}}">

                <label for="name">Hold navn:</label>
                <input type="text" name="name" id="name" class="form-control" value="{{team.name}}">

                <label for="league">Liga:</label>
                <input type="text" name="league" id="league" class="form-control" value="{{team.league}}">

                <label for="division">Division:</label>
                <input type="text" name="division" id="division" class="form-control" value="{{team.division}}">

                <br>
                <input type="submit" class="btn btn-outline-primary form-control" value="Update"><br><br>
                <input type="button" class="btn btn-outline-danger form-control" value="Delete" onclick="return confirmdelete({{team.id}})">
                <p>&nbsp;</p>
                <input type="button" class="btn btn-outline-success form-control" value="add-win" onclick="window.location.href = '/team/{{team.id}}/add-win';">
            </div>            
        </form>
    </div>
    <script>
        function confirmdelete(teamid) {
            deleteconfirmed = confirm('Er du sikkert på at du vil slette?');
            if (deleteconfirmed == true) {
                window.location.href = '/teams/' + teamid + '/delete';
            }else{
                return false;
            }
        }
    </script>
{% endblock %}