{% extends 'layout.html' %}
{% block content %}
    <p>&nbsp;</p>
    <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Liga</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
    {% for team in standing_list %}
        <tr>
            <td><a href='teams/{{team.id}}/edit'>{{team.id}}</a></td>
            <td>{{team.name}}</td>
            <td>{{team.league}}</td>
            <td><a href="results/{{team.id}}/edit">Resulter</a></td>
        </tr>    
    {% endfor %}
    </tbody>
    </table>
    <p>&nbsp;</p>
    <a href="teams/create">Opret et hold selv</a>
    <br><br>
    <a href="createteamsauto">Opret hold for mig!</a>

    <hr>
    <a href="results">Se alle result poster</a>
{% endblock %}