{% extends 'layout.html' %}
{% block content %}
    <p>&nbsp;</p>
    <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>By</th>
            <th>Liga</th>
            <th>Division</th>
        </tr>
    </thead>
    <tbody>
    {% for t in teams %}
        <tr>
            <td><a href='teams/{{t.id}}/edit'>{{t.id}}</a></td>
            <td>{{t.name}}</td>
            <td>{{t.city}}</td>
            <td>{{t.league}}</td>
            <td>{{t.division}}</td>
        </tr>    
    {% endfor %}
    </tbody>
    </table>
    <p>&nbsp;</p>
    Kom igang og - <a href="teams/create">opret et hold selv</a>
    <br><br>
    <hr>
    {% if teams|length < 5 %}
        <a href="createteamsauto">Opret 9 hold for mig - i forskellige liga'er</a>
        <hr>
    {% endif %}
    <a href="results">Se alle result poster - kun visning</a>
{% endblock %}