{% extends 'layout.html' %}
{% block content %}
    <p>&nbsp;</p>
    <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>By</th>
            <th>Sæson</th>
            <th>Liga</th>
            <th>Division</th>
        </tr>
    </thead>
    <tbody>
    {% for team in standing_list %}
        <tr>
            <td><a href='teams/{{team.id}}'>{{team.id}}</a></td>
            <td>{{team.name}}</td>
            <td>{{team.city}}</td>
            <td>{{team.season}}</td>
            <td>{{team.league}}</td>
            <td>{{team.division}}</td>
        </tr>    
    {% endfor %}
    </tbody>
    </table>
    <p>&nbsp;</p>
    <a href="createteamsauto">Opret hold for mig!</a>
{% endblock %}