{% extends 'layout.html' %}
{% block content %}
    <h5>Vælg filter</h5>
    {% if filter_league %}
        <p>filter league: {{filter_league}}</p>
    {% else %}
        | <a href="/standings/AL">American League</a> | 
        <a href="/standings/NL">National league</a>
    {% endif %}
    {% if filter_division %}
        <p>filter division: {{filter_division.capitalize()}}</p>
    {% else %}
        {% if filter_league %}
            <a href="?filter-division=central">Central</a> | 
            <a href="?filter-division=east">East</a> | 
            <a href="?filter-division=west">West</a>
        {% endif %}
    {% endif %}
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Sæson</th>
        <th scope="col">Navn</th>
        <th scope="col">Liga</th>
        <th scope="col">Division</th>
        <th scope="col">Sejre</th>
        <th scope="col">Nederlag</th>
        </tr>
    </thead>
    <tbody>
    {% for standing in standings_dto %}
        {% if filter_division %}
            {% if filter_division == standing.division.lower() %}        
            <tr>
                <td>{{standing.season}}</td>
                <td>{{standing.name}}</td>
                <td>{{standing.league}}</td>
                <td>{{standing.division}}</td>
                <td>{{standing.wins}}</td>
                <td>{{standing.losses}}</td>
            </tr>    
            {% endif %}
        {% else %}
        <tr>
            <td>{{standing.season}}</td>
            <td>{{standing.name}}</td>
            <td>{{standing.league}}</td>
            <td>{{standing.division}}</td>
            <td>{{standing.wins}}</td>
            <td>{{standing.losses}}</td>
        </tr>    
        {% endif %}
    {% endfor %}
    </tbody>
    </table>     
{% endblock %}