{% extends 'layout.html' %}
{% block content %}
    <form action="#" method="post">
        <p>ID</p>
        <p><input type="number" name="id" value="{{customer.id}}" readonly></p>
        <p>Name:</p>
        <p><input type="text" name="name" value="{{customer.name}}"></p>
        <p>Mail:</p>
        <p><input type="text" name="mail" value="{{customer.mail}}"></p>
        <p>Phone:</p>
        <p><input type="number" name="phone" value="{{customer.phone}}"></p>
        <p><input type="submit" value="Skift Oplysninger"></p>
    </form>
{% endblock %}