{% extends 'layout.html' %}
{% block content %}
    <form action="#" method="post">
        <p>Id</p>
        <!-- id is readonly... maybe it shouldn't be an input at all? -->
        <p><input type="number" name="id" value="{{album.id}}" readonly></p>
        <p>Title:</p>
        <p><input type="text" name="title" value="{{album.title}}"></p>
        <p>Artist:</p>
        <p><input type="text" name="artist" value="{{album.artist}}"></p>
        <p>Release Year:</p>
        <p><input type="number" name="release_year" value="{{album.release_year}}"></p>
        <p><input type="submit" value="Update"></p>
    </form>
{% endblock %}