{% extends 'layout.html' %}
{% block content %}
    <h5>Se på USA liga'erne</h5>
    1: <b>Klik linket i toppen til højre 'USA liga'</b> Så vises alle holdene fra alle ligaer og divisioner<br>
    2: <b>Vælg hvilken league du vil kigge på</b> Der er to i USA - AL (amerikan league) NA (national league)<br>
    3: <b>Vælg så division</b> Der er 3 tilknyttet hver liga Central, East & West<br>
    <br>
    <p>Du kan se hvordan data bliver filteret i henhold til dine valg</p>
    <hr>
    <h5>Fremgangsmåde (Danske liga)</h5>
    1: <b>Opret mindst 2 hold:</b> Når holdene er oprettet - oprettes automatisk en resultat data post pr. hold<br>
    2: <b>Giv et hold en sejr:</b> Klik på holdet og på holdet detalje side - klik på sejre<br>
    Evt. 3: <b>Git et hold et nederlag:</b> På holdet detalje side - klik på nederlag<br>
    <br>
    <p>På den her måde kan du se den nye stilling - efter hvergang et hold har fået en sejr eller et nederlag</p>

    <p><a href='/teams'>Gå til "lokal liga" dansk</a></p>
{% endblock %}