<!DOCTYPE html>
<html>
    <head>
        {% if title %} <!-- JINJA2 -->
            <title>{{title}}</title>
        {% else %}
            <title>Manglende title</title>
        {% endif %}
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div>
            <a href="/home">Velkomst side</a>
            <a href="/about">En anden side</a>
        </div>        

        {% block content %}
        {% endblock %}

        <div style="height: 10px;" class="underbox">&nbsp;</div>
    </body>
</html>