{% extends 'layout.html' %}
{% block content %}
    <form action="#" method="post">
        <!-- Both the Customer and Product associated with the Order are selected from dropdown menus -->
        <p>Name:</p>
        <p><select name="cid">
            <!-- The actual value selected behind the scenes is the Id of the customer, while the name is what clients see -->
            {% for customer in customers %}
            <option value="{{ customer.id }}">{{ customer.name }}</option>
            {% endfor %} 
        </select></p>
        <p>Product:</p>
        <p><select name="pid">
            {% for product in products %}
            <option value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %} 
        </select></p>
        <label>Paid?</label>
        <input type="checkbox" name="paid" value="yes">
        <p>Quantity:</p>
        <p><input type="number" name="quantity" value="1"></p>
        <p><input type="submit" value="Opret"></p>
    </form>
{% endblock %}