{% extends 'layout.html' %}
{% block content %}
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Kunde</th>
        <th scope="col">Produkt</th>
        <th scope="col">Dato</th>
        <th scope="col">Status</th>
        <th scope="col">Information</th>
        </tr>
    </thead>
    <tbody>
    {% for o in orders_list %}
        <tr>
            <td>{{o.customer.name}}</td>
            <td>{{o.product.name}}</td>
            <td>{{o.order_date}}</td>
            {% if not o.payment_status %}
            <td><span style="background-color: red; color: yellow;">NOT PAID</span></td>
            {% else %}
            <td>&nbsp;</td>
            {% endif %}
            <td><a href="/orders/{{o.id}}">See my full info</a></td>
        </tr>    
    {% endfor %}
    </tbody>
    </table>     
{% endblock %}