{% extends 'layout.html' %}
{% block content %}
    <h3>ID: {{order.id}}</h3>
    <h3>Dato for ordre: {{order.order_date}}</h3>
    <h3>Kunde: {{order.customer.name}}</h3>
    <h3>Email: {{order.customer.mail}}</h3>
    <h3>Phone: {{order.customer.phone}}</h3>
    <h3>Produkt: {{order.product.name}}</h3>
    <h3>Pris: {{order.product.price}}</h3>
    <h3>Antal Købt: {{order.quantity}}</h3>
    <h3>Betalt: {{order.payment_status==1}}</h3>
    <h3>Total Pris: {{order.quantity*order.product.price}}</h3>
{% endblock %}